<div class="search">
    <mat-form-field class="search-field" appearance="fill">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>
            Search...
        </mat-label>
        <input matInput type="text" [(ngModel)]="searchText">
        <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div class="events">
    <div class="type-selection">
        <mat-selection-list multiple="false" [(ngModel)]="selectedType" (ngModelChange)="onSelectedTypeChange($event)">
            <ng-container *ngFor="let eventType of eventTypes | keyvalue">
                <!-- Filter numerical values of keyvalue (enums were duplicated) -->
                <mat-list-option *ngIf="!eventType.value.toFixed" [value]="eventType.key">
                    {{eventType.value}}
                </mat-list-option>
            </ng-container>
        </mat-selection-list>
    </div>
    
    <div class="concert-container">
        <mat-card class="concert" *ngFor="let event of events | filterConcerts: searchText" (click)="goToEvent(event)">
            <mat-card-header>
                <mat-card-title>{{event.name}} {{event.date | date:'medium'}} </mat-card-title>
                <mat-card-subtitle>{{event.eventAddress}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="concert-content">
                <p>
                    {{event.description}}
                </p>
                <mat-card-actions>
                    <button mat-raised-button color="primary"
                        class="btn-details"
                    > Click here to see more details &#8594;</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
</div>