<div class="nav-container">

    <button mat-button
        class="btn home"
        (click)="goToMarketplace()">
        <mat-icon>home</mat-icon>
        tickeD
    </button>

    <app-blockchain-selector></app-blockchain-selector>

    <button mat-raised-button [matMenuTriggerFor]="myAccount"
        class="btn menu"
        color="primary">
        Menu
        <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #myAccount="matMenu">
        <button mat-menu-item color="primary"
        (click)="connectWallet()"
        >
        <mat-icon>account_balance_wallet</mat-icon>
        Connect wallet</button>

        <button mat-menu-item
        (click)="goToConcertForm()"
            >
        <mat-icon>library_add</mat-icon>
        Create Concert</button>

        <button mat-menu-item
        (click)="goToMyConcerts()"
        >
        <mat-icon>event</mat-icon>
        My Concerts</button>

        <button mat-menu-item color="primary"
        (click)="goToMyNfts()"
        >
        <mat-icon> local_offer</mat-icon>
        My NFTs</button>        
    </mat-menu>

</div>