<ng-container *ngIf="eventData$ | async as eventData ">
    <div class="info">
        <h2 class="concert-name">
            {{ eventData.name }}
            <span class="concert-date">
                <mat-icon>today</mat-icon>
                {{ eventData.date | date:'medium' }}
            </span>
        </h2>
        <h4 class="concert-description">
            {{ eventData.description }}
        </h4>
    </div>
    <div class="organizer-info">
        <app-organizer-rating    
            [eventAddress]="eventData.eventAddress!"
        ></app-organizer-rating>
    </div>
    <swiper
        [slidesPerView]="5"
        [spaceBetween]="20"
        [navigation]="true"
        [pagination]="{
        clickable: true
        }"
        [scrollbar]="{
            hide: true
        }"
        class="mySwiper"
        >
        <ng-template swiperSlide 
            *ngFor="let sector of eventData.sectors; let i=index">
            <mat-card class="sector"
                (click)="selectSector(i)">
                <div class="sector-header">
                    <mat-card-title>{{sector.name}}</mat-card-title>
                    <mat-card-subtitle>
                        <ng-container *ngIf="sector.numerableSeats && sector.seatsFrom; else notNumerated">
                            <div> Capacity: {{sector.seatsTo - sector.seatsFrom + 1}} </div>
                        </ng-container>
                        <ng-template #notNumerated>
                            <div> Capacity: {{ sector.seatsTo }} </div>
                        </ng-template>
                    </mat-card-subtitle>
                </div>
                <mat-card-content class="sector-content">
                    <div> Ticket price: {{ sector.price | weiToEth }} ETH </div>
                    <ng-container *ngIf="sector.numerableSeats; else notNumerated">
                        <div> Seats from {{ sector.seatsFrom }} to {{ sector.seatsTo }} </div>
                    </ng-container>
                    <ng-template #notNumerated>
                        <div> Capacity: {{ sector.seatsTo }} </div>
                    </ng-template>
                <!-- 
                    <mat-card-actions>
                        <button mat-raised-button color="primary"
                            class="btn-details"
                        > Tickets &#8595;</button>
                    </mat-card-actions> 
                -->
                </mat-card-content>
            </mat-card>
        </ng-template> 
    </swiper>

    <button mat-button
    (click)="showLayout()">
        Audience layout 
    </button>

    <app-standard-ticket
    [eventAddress]="eventData.eventAddress!"
    [ipfsLink]="eventData.ipfsLink!"
    [sector]="selectedSector">

    </app-standard-ticket>
</ng-container>
