
<div class="page-content">

    <div class="org-fee-container">
        <h3>
            Change organizer fee while creating concert 
        </h3>
        <mat-form-field appearance="fill">
            <mat-label>New organizer fee</mat-label>
            <input matInput type="number" [(ngModel)]="organizerFee">
            <span matSuffix>  ETH</span>
        </mat-form-field>

        <button mat-button
            color="primary"
            (click)="setOrgFee()">
            Set new fee
        </button>
    </div>

</div>