.concert {
    padding: 10px;
    margin: 10px;
    background-color: rgb(250, 250, 250);
}

mat-card-header {
    display: block;
}

.card-titles{
    display: flex;
}

.main-title {
    flex:1
}

.concert-content {
    padding: 10px;
}

.concert-date {
    float: right;
    padding: 5px;
}

.btn-new-date {
    margin-left: 10px;
}

.description {
    margin: 10px;
}

.seat-occupancy{
    font-size: 2em;
}

.concerts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}