.organizer-rating {
    padding: 10px;;
}

mat-expansion-panel {
    margin-bottom: 20px;
}

.mat-expansion-panel-header-title {
    flex-grow: 4;
}

.rate-description {
    display: flex;
    margin-left: 50px;
    color: gray;
    gap: 5px;
    font-size:smaller;
}

.rate {
    text-align: center;
    font-size: 1.6em;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.vote-info {
    margin-left: 10px;
    color: gray;
}